{% extends 'base.html.twig' %}

{% block title %}Ajouter jeu{% endblock %}

{% block body %}
{% if edit %}
<h1>Editer un jeu</h1>
{% else %}
<h1>Ajouter un jeu</h1>
{% endif %}



{{ form_start(formAddJeu) }}

{{ form_row(formAddJeu.Titre) }}
{{ form_row(formAddJeu.dateSortie) }}
{{ form_row(formAddJeu.image) }}
{{ form_row(formAddJeu.avis) }}
{{ form_row(formAddJeu.Ajouter) }}


{{ form_end(formAddJeu) }}


{% endblock %}