{% extends 'base.html.twig' %}

{% block title %}Liste des jeux joués{% endblock %}

{% block body %}

<h1 class="text-2xl text-center my-1 text-orange-400">Liste des jeux testé</h1>

<div class="text-center m-3">
    <a class="bg-amber-700 text-white py-2 px-3 my-1 rounded-md text-center" href="{{ path('add_jeu')}}">Ajouter un
        jeu</a>
</div>

<ul class="w-full flex flex-row gap-5 flex-wrap justify-around my-10">
    {% for jeu in jeux %}
    <!--
    <li class="w-3/4">
        <a href="#">
            <figure class="flex flex-row gap-5 items-center">
                <img class="max-w-xs rounded-lg" src="{{ asset('uploads/images/' ~ jeu.image) }}" alt="{{ jeu.Titre }}">
                <figcaption class="w-full">
                    <div class="flex justify-between">
                        <h2 class="text-xl text-orange-400">{{jeu.Titre}}</h2>
                        <p>{{ jeu.dateSortie | date('d/m/Y')}}</p>
                    </div>
                    <div class="flex justify-between">
                        <p>Note : {{ jeu.note}}</p>
                        <a class="bg-amber-700 text-white py-1 px-2 my-1 rounded-md"
                            href="{{path('edit_jeu', { id: jeu.id })}}">Modifier</a>
                    </div>
                    <div class="flex justify-between">
                        <button class="bg-amber-700 text-white py-1 px-2 my-1 rounded-md">Voir mon avis</button>
                        <a href="{{path('delete_jeu', { id: jeu.id })}}"><i
                                class="fa-solid fa-trash bg-rose-800 p-1 rounded-md" style="color: #ffffff;"></i></a>
                    </div>
                </figcaption>
            </figure>
        </a>
    </li>
    -->
    <li class="bg-black rounded-t-lg card max-w-xs">
        <figure class="flex flex-col gap-5 items-center justify-between relative">
            <div class="relative">
                <img class="max-w-xs rounded-t-lg h-52" src="{{ asset('uploads/images/' ~ jeu.image) }}"
                    alt="{{ jeu.Titre }}">
                {% if jeu.terminer %}
                <span class="bg-lime-700 text-white jeu-terminer">Terminer</span>
                {% endif %}
            </div>
            {% if jeu.platine %}
            <img class="icone-platine" src="{{asset('uploads/images/ps4-platine.png')}}" alt="platine playstation">
            {% endif %}
            <figcaption class="w-full p-3 ">

                <h2 class="text-xl text-orange-400">{{jeu.Titre}}</h2>
                <p>{{ jeu.dateSortie | date('d/m/Y')}}</p>


                <p class="my-1">Note : {{ jeu.note}}</p>
                <div class="flex gap-5 items-center">
                    <a class="bg-amber-700 text-white py-1.5 px-3 my-1 rounded-md"
                        href="{{path('edit_jeu', { id: jeu.id })}}">Modifier</a>


                    <a href="{{path('show_jeu', {id: jeu.id })}}"
                        class="bg-amber-700 text-white py-1.5 px-2 my-1 rounded-md">Voir mon avis</a>
                    <a class="grow text-right" href="{{path('delete_jeu', { id: jeu.id })}}"><i
                            class="fa-solid fa-trash bg-rose-800 p-2.5 rounded-md" style="color: #ffffff;"></i></a>
                </div>
            </figcaption>
        </figure>
    </li>
    {% endfor %}
</ul>
{% endblock %}